img {
	width: 500px;
}

body {
background-image: url('/jeanbckgrnd.jpeg');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed; 
}

h1	{
	 font-family: helvetica-neue, sans-serif;
	 font-size: 120px;
	 text-align: left;
	 letter-spacing: -2px;
	 line-height: 130px;
}

h2 { 
	font-family: helvetica-neue, sans-serif;
}

h3 {
	font-family: helvetica-neue, sans-serif;
}

h4 {
	font-family: helvetica-neue, sans-serif;
}

p {
	font-family: helvetica-neue, sans-serif;
}

#cdplayer {
	height: 500px;
}

#paragraph1 {

	border-width: 5px;
	border-style: solid;
	border-color:blue;

}

#paragraph2 {
	background-color: rebeccapurple;

}







