#img1 {
		width: 500px;
		position:sticky;
		top: 500px;
		z-index: -1;
	}

#img2 {
		width: 500px;
		position: sticky;
		top: 632px;
		z-index: 1;
	}

#moth1 {
		display:flex;
		flex-wrap: wrap;
		justify-content:center;
		
}

#moth2 {
		justify-content: center;
		display:flex;
}

#moth3 {
		justify-content: center;
		display:flex;
}

#moth4 {
		justify-content: center;
		display:flex;
}

img {
	width: 500px;
}

body {
background-image: url('jeanbckgrnd.jpeg');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;
}

h1	{
	 font-family: helvetica-neue, sans-serif;
	 font-size: 120px;
	 text-align: left;
	 letter-spacing: -2px;
	 line-height: 130px;
	 color: white;
}

h2 {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

h3 {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

h4 {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

p {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

#cdplayer {
	height: 500px;
}

#paragraph1 {

	border-width: 5px;
	border-style: solid;
	border-color:blue;

}

#paragraph2 {
	background-color: rebeccapurple;

}

p {
		width: 300px;
		margin-left: 120px;
		color: red;
		z-index: 0;
		font-family: helvetica, sans-serif;
	}

#purplebowl	{
	width:300px;
	height:300px;
	border-radius: 90%;
	position: absolute;
	top:800px;
	left:900px;
	color: black;
}

#helvetica { 
justify-content: center center;
		display:flex;
}

