#img1 {
		width: 500px;
		position:fixed;
		top: 500px;
		left:0px;
		z-index: -1;
	}

#img2 {
		width: 500px;
		position: fixed;
		top: 632px;
		left:0px;
		z-index: 1;
	}

img {
	width: 500px;
}

body {
background-image: url('jeanbckgrnd.jpeg');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;
}

h1	{
	 font-family: helvetica-neue, sans-serif;
	 font-size: 120px;
	 text-align: left;
	 letter-spacing: -2px;
	 line-height: 130px;
	 color: white;
}

h2 {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

h3 {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

h4 {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

p {
	font-family: helvetica-neue, sans-serif;
	color: white;
}

#cdplayer {
	height: 500px;
}

p {
		width: 300px;
		margin-left: 120px;
		color: red;
		z-index: 0;
		font-family: helvetica, sans-serif;
	}

#helvetica { 
	justify-content: center center;
	display:flex;
}

.image-container {
  display: inline-block;
  margin: 10px;
}

.text-underneath {
font-family: "helvetica-neue-lt-pro", sans-serif;
  display: none;
  padding: 5px;
  text-align: center;
  justify-content:center;
  wrap:flex;
  font-size: 24px;
  color: white;
}

.image-container:hover .text-underneath {
  display: block;
}

#helvetica {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 40px;
}

#helvetica img {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
}

#helvetica4 {
  clip-path: circle(0px at 0 0);
  transition: clip-path 0s;
  pointer-events: none;
}











